<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Jackets - Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
  </head>
  <body>

    <div class="container">
      <h1>Add Jacket</h1>
      <form class="" action="/add" method="post">
        <div class="">
          <label for="style">Style</label>
          <input id="style" type="text" name="style" value="">
        </div>
        <div class="">
          <label for="brand">Brand</label>
          <input id="brand" type="text" name="brand" value="">
        </div>
        <div class="">
          <label for="color">Color</label>
          <input id="color" type="text" name="color" value="">
        </div>
        <button class="btn black" type="submit" name="button">Add!</button>
      </form>

      <a href="/jackets"><h4>Jacket Collection ---></h4></a>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
  </body>
</html>
