<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Materials</title>
  </head>
  <body>
    <div class="container">
      <h3>Materials</h3>
      <form class="" action="index.html" method="post">
        <label for="fabric">Fabric Type</label>
        <input id="fabric" type="text" name="fabric" value="">
        <label for="percent">Percent</label>
        <input id="percent" type="text" name="" value="">
        <button type="submit" name="button">Add</button>
      </form>
    </div>
  </body>
</html>
